body {
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  display: block;
  margin-bottom: 16px;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

a {
  color: #00d6b4;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.hero {
  min-height: 642px;
  background-image: -webkit-linear-gradient(270deg, transparent 66%, #f6f8fb), url('../images/bg.jpg');
  background-image: linear-gradient(180deg, transparent 66%, #f6f8fb), url('../images/bg.jpg');
  background-position: 0px 0px, 50% 66%;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
}

.hero.small {
  min-height: 410px;
}

.hero.project-page {
  min-height: 384px;
}

.nav {
  padding-top: 0px;
  background-color: #fff;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link.w--current {
  color: #00d6b4;
}

.logo {
  padding: 15px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.section {
  margin-top: 23px;
  padding-top: 90px;
  padding-bottom: 50px;
  font-family: Montserrat, sans-serif;
}

.footer {
  margin-top: 0px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #222;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 32px;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

.main-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-size: 50px;
  line-height: 53px;
  font-weight: 700;
  text-align: center;
}

.main-heading.inline {
  display: inline;
}

.heading-wrapper {
  display: block;
  margin-top: 330px;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.nav-menu {
  margin-top: 7px;
}

.footer-logo {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #c2c2c2;
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
}

.empty-state {
  padding: 33px 33px 49px;
  border: 1px solid hsla(0, 0%, 100%, .34);
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
}

.no-items-title {
  font-weight: 300;
}

.project-image {
  margin-bottom: 22px;
  border-radius: 3px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.project-image:hover {
  opacity: 0.69;
}

.project-body-copy {
  margin-right: 12%;
  margin-bottom: 67px;
  margin-left: 12%;
}

.main-detail-image {
  max-width: 400px;
  margin-bottom: 41px;
  border-radius: 3px;
}

.category-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  letter-spacing: 1px;
  text-decoration: none;
}

.category-link:hover {
  opacity: 0.67;
  text-decoration: none;
}

.body {
  background-color: #f6f8fb;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

.image {
  width: 140px;
  margin-top: 10px;
}

.image-2 {
  width: 150px;
  margin-bottom: 200px;
  cursor: pointer;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -40px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #322778;
  font-size: 32px;
  font-weight: 200;
}

.div-block {
  width: 156px;
  margin: 24px auto;
  border: 3px solid #322778;
  border-radius: 50px;
}

.div-block.blockdepoimento {
  width: 45px;
  border-width: 2px;
  border-color: #fff;
}

.text-block-2 {
  margin: 23px;
  font-family: Montserrat, sans-serif;
  color: #322778;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
}

.text-block-2.feature2 {
  margin-bottom: 63px;
  padding-top: 15px;
}

.text-block-2.informacaotitulo {
  margin-top: 14px;
  margin-bottom: 0px;
  font-size: 21px;
}

.text-block-3 {
  margin: 42px 16px 16px;
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-size: 18px;
}

.text-block-3.informacaotexto {
  margin-top: 7px;
}

.text-block-3.informacaotexto.informacaohome {
  margin-top: 35px;
}

.text-block-3.informacaotexto.oquesomostxt {
  margin: 30px 11px 11px;
}

.column {
  padding: 30px;
  text-align: center;
}

.column.feature {
  border-right: 1px solid #60bac2;
}

.column-2 {
  padding: 30px;
  text-align: center;
}

.column-2.feature {
  border-right: 1px solid #60bac2;
}

.feature {
  padding: 30px 31px 30px 30px;
  text-align: center;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  color: #9b9b9b;
  font-size: 21px;
  font-weight: 300;
}

.text-block-4 {
  margin: 0px 47px 45px;
  color: #5d4391;
  font-size: 50px;
  line-height: 65px;
  font-weight: 500;
}

.text-block-4.parcelas {
  margin-top: 43px;
  margin-bottom: -20px;
  margin-left: 47px;
  font-size: 35px;
  text-align: center;
}

.button-2 {
  display: block;
  width: 262px;
  margin: 6px auto 13px;
  padding: 15px;
  border-radius: 50px;
  background-color: #74529e;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.button-2.presente {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #5cc0c4;
  font-size: 16px;
}

.button-2.buttonhome {
  margin-right: 0px;
  margin-bottom: 36px;
  margin-left: 0px;
  clear: none;
  background-color: #fff;
  color: #7f65a7;
}

.button-2.buttonhome.cursobelezabutton {
  width: 290px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: #322778;
}

.button-2.buttonhome.cursobelezabutton.depoimentobutton {
  width: 400px;
  margin-top: 70px;
  font-size: 18px;
  font-weight: 800;
}

.button-2.buttonhome.cursobelezabutton.bannerbutton {
  width: 390px;
}

.button-2.btnpricing {
  margin-top: 33px;
  padding-bottom: 16px;
  background-color: #322778;
}

.button-2.btnpricing.espera {
  margin-top: 18px;
  background-color: #969696;
}

.image-3 {
  margin-top: 35px;
}

.div-block-2 {
  min-height: 350px;
  margin: 25px 15px 0px;
  padding: 45px 25px 25px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 0 35px 5px rgba(121, 116, 171, .07);
}

.div-block-2.informacoes {
  margin: 0px;
  padding: 30px;
  text-align: center;
}

.div-block-2.oquesomosblock {
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}

.div-block-2.oquesomosblock.serveblogk {
  min-height: auto;
}

.div-block-2.priceblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-bottom: 100px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 21px 21px 35px 5px rgba(121, 116, 171, .07);
  text-align: center;
}

.div-block-2.priceblock.priceblockleft {
  margin-top: 47px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  border-radius: 50px;
  background-color: #f9f8fd;
  box-shadow: 0 0 35px 5px rgba(121, 116, 171, .07);
}

.div-block-2.priceblock.priceblockright {
  margin-top: 44px;
  padding: 40px 20px 20px;
  border-radius: 50px;
  background-color: #f9f8fd;
}

.div-block-2.priceblock.priceblockcenter {
  padding: 80px 20px 108px;
}

.text-block-5 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  color: #9b9b9b;
  font-size: 16px;
  line-height: 25px;
}

.text-block-5.deadline {
  margin-top: 38px;
  color: #74529e;
}

.text-block-5.texto-sobre {
  margin-top: 50px;
}

.text-block-5.aulatext {
  color: #4a4a4a;
}

.text-block-5.depoimentotexto {
  margin: 81px 37px 37px;
  padding-top: 15px;
  color: #fff;
  font-size: 25px;
  line-height: 36px;
  text-align: left;
}

.text-block-5.depoimentoname {
  margin-top: 12px;
  font-family: Lato, sans-serif;
  color: #322778;
  font-size: 18px;
  font-weight: 700;
}

.text-block-5.copyright {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
}

.heading-3 {
  margin-top: 65px;
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.heading-3.curso-de-beleza-heading {
  margin-top: 170px;
  color: #fff;
}

.heading-3.pricinghead {
  color: #fff;
}

.column-3 {
  text-align: center;
}

.section-2 {
  padding: 47px 47px 60px;
  background-image: url('../images/img-bg-purple3x.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
}

.section-2.depoimentorow {
  padding-right: 85px;
  padding-left: 85px;
  background-image: url('../images/img-bg-depoimento3x.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.section-2.section2lotufo {
  background-image: -webkit-linear-gradient(19deg, #2c2376 7%, #805aa4 53%, #5bc6c6);
  background-image: linear-gradient(71deg, #2c2376 7%, #805aa4 53%, #5bc6c6);
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.row {
  padding: 0px;
}

.row.depoimentos {
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: hsla(0, 0%, 100%, .44);
  border-radius: 20px;
}

.column-4 {
  padding: 15px;
  text-align: center;
}

.image-4 {
  max-height: 180px;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
  color: #c6e8ea;
  font-size: 51px;
  font-weight: 700;
  text-align: center;
}

.column-5 {
  padding-top: 13px;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
  color: #322778;
  font-size: 33px;
}

.row-2 {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(125, 97, 166, .16);
}

.container {
  padding: 25px;
}

.list-item {
  display: block;
  margin-right: 0px;
  float: left;
}

.list-item.socialimg {
  margin-right: 20px;
}

.unordered-list {
  display: inline-block;
}

.unordered-list.social {
  margin-top: 30px;
  float: none;
}

.list-item-2 {
  float: left;
}

.list-item-2.socialimg {
  margin-right: 20px;
}

.list-item-3 {
  float: left;
}

.image-5 {
  margin-top: -5px;
}

.div-block-3 {
  margin-top: 34px;
}

.text-block-8 {
  margin: 20px;
  font-family: Montserrat, sans-serif;
}

.image-6 {
  margin-top: 61px;
}

.container-2 {
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999999;
  display: none;
  height: 100%;
  padding-top: 100px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, .77));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .77), rgba(0, 0, 0, .77));
}

.videomodal {
  position: relative;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
}

.text-block-9 {
  position: absolute;
  right: 1px;
  display: inline-block;
  margin-top: -26px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row-3 {
  padding-top: 262px;
  padding-bottom: 98px;
  background-image: url('../images/img-banner3x.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.body-2 {
  font-family: Montserrat, sans-serif;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
}

.body-3 {
  background-color: #fff;
  color: #17191b;
}

.heading-6 {
  margin-top: 51px;
  margin-bottom: 51px;
  font-family: Montserrat, sans-serif;
  color: #8b8b8b;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.heading-6.curso-de-beleza-text {
  color: #fff;
}

.section-4 {
  background-color: #fff;
}

.section-5 {
  background-color: #fff;
}

.section-5.section-2.bgreverse {
  background-image: -webkit-linear-gradient(19deg, #2c2376 7%, #805aa4 53%, #5bc6c6);
  background-image: linear-gradient(71deg, #2c2376 7%, #805aa4 53%, #5bc6c6);
}

.section-5.section-2.bgreverse.menospaddinglateral {
  margin-top: -200px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-4 {
  padding-right: 85px;
  padding-bottom: 60px;
  padding-left: 85px;
  background-color: #f7f8fc;
}

.column-6 {
  text-align: left;
}

.blockitems {
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

.blockitemshead {
  font-family: Montserrat, sans-serif;
  color: #322778;
}

.blockitemstext {
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-weight: 500;
}

.div-block-5 {
  padding-right: 85px;
  padding-left: 85px;
}

.slide {
  display: inline-block;
  background-image: url('../images/CECILIA-PINHEIRO.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider {
  height: 500px;
  border-radius: 25px;
}

.mask {
  border-radius: 25px;
}

.div-block-7 {
  padding-right: 85px;
  padding-left: 85px;
}

.div-block-8 {
  padding: 0px 85px 50px;
}

.customrow {
  margin-top: 30px;
  clear: both;
}

.column5 {
  width: 20%;
  float: left;
  clear: none;
  text-align: center;
}

.heading-7 {
  margin: 77px auto 40px;
  padding-right: 250px;
  padding-left: 250px;
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  text-align: center;
}

.div-block-9 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-8 {
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-10 {
  display: inline;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.div-block-10 {
  position: absolute;
  top: -80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(270deg, #5bc6c6, #5bc6c6);
  background-image: linear-gradient(180deg, #5bc6c6, #5bc6c6);
}

.text-block-11 {
  margin-top: 71px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #5d4391;
  font-size: 48px;
  font-weight: 700;
}

.text-block-11.pricesmall {
  margin-top: 36px;
  font-size: 32px;
}

.paragraph {
  margin-top: 35px;
  margin-bottom: 10px;
  padding-right: 48px;
  padding-left: 48px;
  font-family: Montserrat, sans-serif;
  color: #686868;
  font-weight: 600;
}

.paragraph.pricingtext2 {
  margin-top: 0px;
  font-size: 14px;
}

.paragraph.pricingtext2.textmentoriasmall {
  font-size: 13px;
}

.pricinchead {
  color: #4a4a4a;
  font-size: 32px;
  font-weight: 700;
}

.div-block-11 {
  padding-right: 60px;
  padding-left: 60px;
}

.row-4 {
  margin-top: 131px;
}

.paragraph-2 {
  padding-right: 160px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.paragraph-2.p2 {
  margin-top: 33px;
}

.paragraph-2.p3 {
  margin-bottom: 75px;
}

.paragraph-3 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.row-5 {
  margin-bottom: 25px;
}

.text-block-12 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #322778;
  font-size: 18px;
  font-weight: 700;
}

.text-block-13 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.homedepoimento {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.depoimentooutline {
  min-height: 600px;
  padding: 35px 15px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.row-6 {
  margin-top: 40px;
}

.menulink {
  margin-top: 24px;
  margin-right: 25px;
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.menulink.menudestaque {
  margin-top: 15px;
  margin-right: 0px;
  padding: 5px 28px;
  border-radius: 50px;
  background-color: #322778;
  color: #fff;
}

.div-block-12 {
  float: right;
}

.text-block-14 {
  font-weight: 600;
}

.nav-link-2 {
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-size: 16px;
}

.nav-link-3 {
  font-family: Montserrat, sans-serif;
  color: #4a4a4a;
  font-size: 16px;
}

.navbar {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6));
}

.section-6 {
  background-image: url('../images/img_curve_23x.png');
  background-position: 0px 0px;
  background-size: 768px;
}

.div-block-13 {
  background-image: url('../images/img_curve_23x.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-8 {
  width: 100%;
}

.slide-2 {
  background-image: url('../images/BRUNO-LOTUFO.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/ROMEU-FELIPE.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/ANDERSON-COUTO.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/LUCAS-VIEIRA.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-nav {
  display: none;
}

.heading-8 {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.div-block-14 {
  position: absolute;
  bottom: 0px;
  z-index: 999;
  width: 100%;
  height: 120px;
  background-image: -webkit-linear-gradient(90deg, #000, hsla(0, 0%, 100%, 0));
  background-image: linear-gradient(0deg, #000, hsla(0, 0%, 100%, 0));
}

.right-arrow {
  display: none;
}

.div-block-15 {
  width: 100%;
  height: 50px;
}

.image-9 {
  width: 200px;
}

.image-9.appdownload {
  width: 150px;
  margin-top: 15px;
}

.image-9.appdownload.appleapp {
  margin-right: 14px;
}

@media (max-width: 991px) {
  .hero {
    min-height: 520px;
  }
  .hero.project-page {
    min-height: 344px;
  }
  .nav {
    margin-top: 0px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button:hover {
    color: #00d6b4;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .main-heading {
    font-size: 48px;
    line-height: 51px;
  }
  .heading-wrapper {
    margin-top: 115px;
  }
  .nav-menu {
    background-color: #000;
  }
  .project-body-copy {
    margin-right: 12%;
    margin-left: 12%;
  }
  .image-2 {
    margin-bottom: 91px;
  }
  .heading {
    font-size: 28px;
  }
  .text-block-2 {
    font-size: 20px;
  }
  .text-block-3 {
    font-size: 16px;
  }
  .feature {
    padding: 20px;
  }
  .heading-2 {
    font-size: 18px;
  }
  .text-block-4 {
    font-size: 35px;
  }
  .text-block-4.parcelas {
    font-size: 28px;
  }
  .button-2 {
    width: 210px;
    padding: 10px;
    font-size: 13px;
    line-height: 19px;
  }
  .button-2.presente {
    font-size: 14px;
  }
  .div-block-2.priceblock.priceblockleft {
    margin-bottom: 100px;
    border-radius: 50px;
  }
  .div-block-2.priceblock.priceblockright {
    border-radius: 50px;
  }
  .heading-4 {
    margin-left: 20px;
  }
  .videomodal {
    width: 90%;
  }
  .column5 {
    width: 100%;
  }
  .heading-7 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .depoimentooutline {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .hero {
    min-height: 420px;
  }
  .hero.small {
    min-height: 280px;
  }
  .hero.project-page {
    min-height: 256px;
  }
  .nav {
    padding-top: 0px;
  }
  .main-heading {
    font-size: 38px;
    line-height: 43px;
  }
  .heading-wrapper {
    margin-top: 72px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .project-body-copy {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .hero {
    min-height: 340px;
  }
  .hero.project-page {
    min-height: 226px;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: left;
  }
  .section {
    padding-bottom: 10px;
  }
  .heading-wrapper {
    margin-top: 125px;
  }
  .project-body-copy {
    margin-right: 18px;
    margin-left: 18px;
  }
  .image {
    margin-top: 8px;
    text-align: center;
  }
  .image-2 {
    width: 100px;
    margin-bottom: 100px;
  }
  .heading {
    margin-bottom: -100px;
  }
  .heading-2 {
    margin-bottom: 0px;
    font-size: 21px;
  }
  .text-block-4 {
    font-size: 46px;
  }
  .text-block-4.parcelas {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
  }
  .button-2 {
    width: 250px;
    padding: 15px;
    font-size: 16px;
  }
  .button-2.presente {
    font-size: 16px;
  }
  .button-2.buttonhome {
    margin-right: auto;
    margin-left: auto;
  }
  .button-2.buttonhome.cursobelezabutton.depoimentobutton {
    width: 200px;
    font-size: 15px;
  }
  .div-block-2 {
    margin: 0px 0px 30px;
    padding: 15px;
  }
  .div-block-2.informacoes {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .div-block-2.priceblock {
    padding: 25px 7px;
  }
  .div-block-2.priceblock.priceblockleft {
    margin-top: 1px;
    padding: 25px 7px;
  }
  .div-block-2.priceblock.priceblockright {
    margin-bottom: 25px;
  }
  .text-block-5.depoimentotexto {
    margin: 5px;
  }
  .section-2 {
    padding: 15px;
  }
  .row.depoimentos {
    padding: 15px;
  }
  .column-4 {
    padding: 0px;
  }
  .text-block-6 {
    margin-bottom: -8px;
    margin-left: -16px;
    font-size: 61px;
    text-align: left;
  }
  .image-6 {
    margin-bottom: 25px;
  }
  .container-2 {
    text-align: left;
  }
  .image-7 {
    margin-top: 15px;
  }
  .section-3 {
    padding: 10px;
  }
  .videomodal {
    width: 95%;
    padding: 0px;
  }
  .row-3 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .heading-5 {
    line-height: 61px;
  }
  .div-block-4 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .blockitems {
    margin-bottom: 27px;
  }
  .div-block-5 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .div-block-7 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .div-block-8 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .heading-7 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-11 {
    font-size: 50px;
  }
  .div-block-11 {
    padding-right: 15px;
    padding-left: 15px;
  }
  .row-4 {
    margin-top: 60px;
  }
  .paragraph-2.p2 {
    padding-right: 0px;
    text-align: center;
  }
  .paragraph-2.p3 {
    padding-right: 0px;
  }
  .homedepoimento {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-9 {
    text-align: center;
  }
}

